name: Documentation

on:
  workflow_dispatch:
  push:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

jobs:
  Documentation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - uses: actions/setup-python@v4
      with:
        python-version: "3.11"
        cache: 'pip'

    - run: echo WEEK=$(date +%V) >>$GITHUB_ENV
      shell: bash

    - name: Install dependencies
      run: |
        pip install . --group docs

    - name: Set up Git
      run: |
        git config user.name ${{ github.actor }}
        git config user.email ${{ github.actor }}@users.noreply.github.com

    - name: Build documentation
      run: |
        git fetch origin gh-pages
        mike delete $BRANCH_NAME
        mike deploy --push $BRANCH_NAME
#        source .venv/bin/activate
